*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6a648e;
    text-align: center;
}
.hide{
    display: none;
}
.msg-container{
   
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
#msg{
    color: #ffffc7;
    font-size: 6vmin;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #363f5b;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#new-btn:hover{
    background-color: #7d6be1;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin; 
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #ffffc7;
    background-color: #acabec;  
}
#reset-btn{
    padding: 1rem;
    margin: 10px;
    font-size: 1.25rem;
    background-color: #363f5b;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#reset-btn:hover{
    background-color: #7d6be1;
}